<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>&#10084;</title>
    <link href="/assets/stylesheets/applicaiton.css" media="all" rel="stylesheet" type="text/css" />
    <script src="/assets/javascripts/html5shiv.js"></script>
    <script src="/assets/javascripts/application.js"></script>
  </head>
  <body>
  </body>
</htmL>
